.main .tophead {
  background: #000000;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  gap: 15%;
  font-size: 15px;
  transition: 0.6s;
}
.main .tophead .wrappertophead {
  display: flex;
  gap: 15px;
}
.main .tophead .wrappertophead .mail {
  text-decoration: none;
  color: #fff;
}
.main .tophead .wrappertophead .tel {
  text-decoration: none;
  color: #fff;
}
.main .tophead .wrappertophead .mt {
  transition: color 1s;
}
.main .tophead .wrappertophead .mt:hover {
  color: #fcb818;
}
.main .tophead .sosial .login {
  transition: color 0.5s;
}
.main .tophead .sosial .login:hover {
  color: #fcb818;
}
.main .tophead .sosial .sosials {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  margin-right: 10px;
}
.main .wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: #f2f2f2;
  padding-bottom: 30px;
}
.main .nav {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.main .nav .navul {
  display: flex;
  gap: 65px;
  list-style-type: none;
}
.main .nav .navul .basket-nav {
  color: #000;
}
.main .nav .navul .navli {
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  transition: color 0.5s;
  font-size: 20px;
  font-weight: 400;
}
.main .nav .navul .navli .nava {
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  transition: color 0.5s;
  font-size: 20px;
  font-weight: 400;
  color: #000;
}
.main .nav .navul .basket {
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  transition: color 0.5s;
  font-size: 20px;
}
.main .nav .navul .nava:hover {
  color: #fcb818;
}
.main .nav .navul .basket:hover {
  color: #fcb818;
}

.slider {
  padding-left: 8%;
  padding-right: 8%;
}
.slider .slider-content {
  background-repeat: no-repeat;
  width: 100%;
  color: #f2f2f2;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}
.slider .slider-content .p-slider {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}
.slider .slider-content .p2-slider {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}
.slider .slider-content .h2-slider {
  font-size: 80px;
  line-height: 60px;
  margin-bottom: 26px;
  text-transform: capitalize;
}
.slider .slider-content .slide-btn {
  background-color: #fcb818;
  margin-bottom: 200px;
}
.bs-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.bs-text .punchline {
  color: #686868;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  margin-top: 10px;
}
.bs-text .sec-title {
  color: #202020;
  font-size: 42px;
  line-height: 42px;
  font-weight: 500;
  margin-bottom: 0;
  text-transform: capitalize;
}

.bs-carts {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 2%;
}
.bs-carts .card-title {
  color: #121212;
  font-size: 25px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
  margin-top: 15px;
  margin-bottom: 25px;
}
.bs-carts .card-a {
  background: transparent;
  font-size: 22px;
  font-weight: 400;
  color: #151515;
  outline: none;
  text-decoration: none;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  transition: 0.6s;
}
.bs-carts .card-a:hover {
  color: #fcb818;
}
.bs-carts .currency {
  color: #121212;
  font-size: 20px;
  font-weight: 400;
}
.bs-carts .price {
  color: #121212;
  font-size: 30px;
  font-weight: 500;
  margin-right: 15px;
  margin-top: 20px;
}

.card:hover {
  box-shadow: 3px 0 #fcb818;
  transition: 0.6s;
}

.addtocart {
  margin: 0 auto;
}

.card-img-top {
  margin-top: 15px;
}

.find-section {
  background: #fcb818;
  margin-bottom: 110px;
  text-align: left;
  margin-top: -200px;
  padding-top: 250px;
}

.find {
  display: flex;
  justify-content: space-evenly;
}
.find .find-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
  width: 500px;
}
.find .find-div .explore {
  text-decoration: none;
  width: fit-content;
  padding: 12px;
}
.find .find-div .explore:hover {
  background-color: #f2f2f2;
  color: #000;
}
.find .find-div .find-h2 {
  color: #121212;
  font-size: 50px;
  text-align: left;
  margin-bottom: 40px;
}

.p-categoryrow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding-left: 15%;
  padding-right: 15%;
}
.p-categoryrow .p-category-div {
  border: 1px solid black;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.p-categoryrow .p-category-div .p-category-h2 {
  margin-top: 50%;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 18px;
  line-height: 36px;
  letter-spacing: 2px;
}
.p-categoryrow .p-category-div .view-collect {
  border: 1px solid #fcb818;
  background-color: transparent;
}
.p-categoryrow .p-category-div .view-collect:hover {
  background-color: #fcb818;
}

.dealofday {
  margin-top: 100px;
  height: 500px;
  padding: 100px 0 70px;
  text-align: left;
  color: #fff;
  background-size: cover;
}
.dealofday .divday {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dealofday .btnday {
  background-color: #fcb818;
  margin-top: 30px;
  padding: 5px;
}

.last-new {
  margin-top: 100px;
}
.last-new .lastnew-div {
  height: fit-content;
  border: none;
}
.last-new .info-last {
  padding: 30px 18px 0 18px;
  background: #fff;
  margin-top: -35px;
  width: calc(100% - 45px);
  margin-left: 45px;
}
.last-new .post-date {
  color: #121212;
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 18px;
  margin-top: 15px;
}
.last-new .blog-tit {
  color: #121212;
  font-weight: 400;
  font-size: 24px;
  display: inline-block;
  text-decoration: none;
}
.last-new .blog-dis {
  line-height: 22px;
  margin-bottom: 30px;
}
.last-new .btn1 {
  margin: 0;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 0;
  color: #151515;
  background: #fcb818;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  transition: 0.6s;
}
.last-new .btn1:hover {
  background-color: #000;
  color: white;
}

.helplinesec {
  margin-top: 60px;
  margin-bottom: 0;
  background: #f6f6f6;
  padding: 36px 0;
  display: flex;
  justify-content: center;
}
.helplinesec .helpline {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.helplinesec .helpline-div {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  border-right: 1px solid #b5b5b5;
  padding-right: 5%;
}
.helplinesec .helpline-div .icon-last {
  font-size: 80px;
  color: #fcb818;
}
.helplinesec .helpline-div .icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 15px;
}
.helplinesec .helpline-div .last-h3 {
  margin-top: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: #121212;
  font-size: 18px;
}
.helplinesec .helpline-div .last-p {
  font-size: 14px;
  font-weight: 400;
  color: #202020;
}
.helplinesec .sondiv {
  border: none;
}

footer {
  background: #202020;
  color: #fff;
}
footer .foot {
  padding-top: 70px;
}
footer .foot-a {
  background: transparent;
  color: #fff;
  outline: none;
  text-decoration: none;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
footer .foot-icon {
  margin-right: 10px;
  color: #fcb818;
}
footer .ft-logo {
  margin-bottom: 15px;
}
footer .a2-foot {
  color: #b6b6b6;
  line-height: 1;
  background: transparent;
  outline: none;
  text-decoration: none;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
footer .a2-foot:hover {
  color: #fff;
  transition: 0.6s;
}
footer .mb-0 {
  list-style: none;
  margin: 0;
}
footer .mb-0 li {
  margin-bottom: 15px;
}
footer .fotdu {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
footer .widget-tit {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}
footer .cmn-detail {
  font-size: 14px;
}
footer .foot-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.menu-wrap {
  display: none;
}

@media screen and (max-width: 755px) {
  .navdiv {
    display: none;
  }
  .sosial {
    display: none;
  }
  .menu-wrap {
    display: block;
    background-color: #f2f2f2;
  }
}
@media screen and (max-width: 1000px) {
  .slider-content {
    background-position: center;
  }
  .dealofday {
    background-position: center;
  }
  .foot .foot-row {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 570px) {
  .slider .slider-content .h2-slider {
    font-size: 50px;
  }
  .slider .slider-content .p2-slider {
    font-size: 20px;
  }
  .countdown-timer-container div {
    font-size: 20px;
  }
}
@media screen and (max-width: 1270px) {
  .bs-carts {
    flex-wrap: wrap;
    gap: 30px;
  }
  .find-section {
    margin-top: 0;
    padding-top: 0;
  }
  .best {
    height: fit-content;
    padding-bottom: 70px;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 1183px) {
  .p-categoryrow .cat-div {
    width: 600px;
    height: fit-content;
    padding-bottom: 25%;
  }
  .p-categoryrow .cat-div .p-category-h2 {
    margin-top: 25%;
  }
}
@media screen and (max-width: 1295px) {
  .helplinesec .helpline-div {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .helplinesec .helpline-div .icon-last {
    font-size: 40px;
  }
  .helplinesec .helpline-div .icon-text {
    margin: 0;
  }
}
@media screen and (max-width: 747px) {
  .helplinesec .helpline-div {
    border: none;
  }
}
@media screen and (max-width: 1100px) {
  .foot-row {
    flex-direction: column;
    align-items: center;
  }
  footer .fotdu {
    margin-top: 25px;
    width: 100%;
  }
}
.tural {
  color: black;
}

@media screen and (max-width: 1570px) {
  .find-section {
    margin-top: 0px;
    padding-top: 0px;
  }
}
@media screen and (max-width: 1190px) {
  .foto-find {
    width: 500px;
  }
}
@media screen and (max-width: 570px) {
  .foto-find {
    width: 300px;
  }
}
@media screen and (max-width: 864px) {
  .find {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .find .find-div {
    align-items: center;
    width: 100%;
  }
  .find .find-div .find-h2 {
    text-align: center;
  }
}
.best-seller-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 5%;
}

ol, ul {
  padding-left: 0;
  padding-right: 0;
}

.intro {
  margin: 0;
  height: fit-content;
  background-repeat: no-repeat;
  background-position: center;
}
.intro .p-intro {
  color: #777777;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}
.intro .p-intro .bi-chevron-right {
  color: #fcb818;
}
.intro .p-intro .span-intro {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}
.intro .h4-intro {
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 60px;
  color: #fff;
  letter-spacing: 1px;
}

.page-link {
  font-size: 25px;
  color: #000;
  background-color: #f5f5f5;
}

.page-link:hover {
  background-color: #fcb818;
  color: #fff;
}

.welcome-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.welcome-div .welcome-h2 {
  color: #202020;
  font-size: 72px;
  line-height: 72px;
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.welcome-div .o {
  color: #fcb818;
}
.welcome-div .welcome-p1 {
  color: #202020;
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.welcome-div .welcome-p2 {
  color: #202020;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  margin-top: 70px;
}
.welcome-div .welcome-div2 {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-div .welcome-div2 .welcome-info2 {
  margin-left: 25px;
  border-left: 1px solid grey;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
.welcome-div .welcome-div2 .welcome-info2 .ceo {
  margin: 0;
  display: block;
  color: #202020;
  font-size: 16px;
  font-weight: 300;
}
.welcome-div .welcome-div2 .welcome-info2 .ceo-name {
  margin: 0;
  display: block;
  color: #202020;
  font-size: 22px;
  font-weight: 600;
}

.our-history {
  margin-top: 70px;
  margin-bottom: 100px;
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(https://www.ncodetechnologies.com/zooy/images/about-img-bg-572x581.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22%;
}
.our-history .our-history-div {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
.our-history .our-p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  max-width: 500px;
}
.our-history .our-p1 {
  padding: 0;
  text-align: left;
  color: #fcb818;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 22px;
}
.our-history .our-h2 {
  max-width: 500px;
  padding: 0;
  text-align: left;
  color: #202020;
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 66px;
}
.our-history .our-btn {
  text-decoration: none;
  background-color: #fcb818;
  color: #fff;
  outline: none;
  padding: 10px 25px;
  border: none;
  transition: 0.6s;
}
.our-history .our-btn:hover {
  background-color: #202020;
}

.helplineabout {
  background-color: #fcb818;
}

.helplinesec .helpline-div .icon-last1 {
  color: white;
}

.testimonial-reel {
  margin-bottom: 4rem !important;
  margin-top: 4rem;
}
.testimonial-reel .box {
  position: relative;
  margin-bottom: 30px;
}
.testimonial-reel .box .image {
  margin: 0 auto -45px;
  text-align: center;
}
.testimonial-reel .box .image img {
  height: 130px;
  margin: 0 auto;
}
.testimonial-reel .box .test-component {
  background-color: #fff;
  padding: 1rem 2.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  min-height: 200px;
}
.testimonial-reel .box .test-title {
  font-family: "Open Sans", sans-serif;
  color: #fcb818;
  text-align: center;
  margin-top: 3.3rem;
  margin-bottom: 15px;
}
.testimonial-reel .box .test-content {
  text-align: center;
}
.testimonial-reel .slick-slide {
  opacity: 0.3;
  transition: opacity 0.3s;
  padding-left: 1rem;
  padding-right: 1rem;
}
.testimonial-reel .slick-slide.slick-cloned {
  opacity: 0.3;
  transition: opacity 0.3s;
}
.testimonial-reel .slick-slide.slick-current.slick-active {
  opacity: 1;
  transition: opacity 0.3s;
}

@media screen and (max-width: 1500px) {
  .our-history-div .welcome-img {
    width: 400px;
    height: 400px;
    background-size: cover;
  }
}
@media screen and (max-width: 1154px) {
  .our-history-div .welcome-img {
    width: 100%;
    background-size: cover;
  }
}
@media screen and (max-width: 790px) {
  .our-history-div .welcome-img {
    width: 100%;
    background-size: cover;
  }
}
@media screen and (max-width: 800px) {
  .welcome-div .welcome-h2 {
    font-size: 55px;
  }
  .welcome-div .welcome-p1 {
    font-size: 30px;
  }
  .welcome-div .welcome-p2 {
    width: 600px;
  }
}
@media screen and (max-width: 640px) {
  .welcome-div .welcome-h2 {
    font-size: 45px;
  }
  .welcome-div .welcome-p1 {
    font-size: 22px;
  }
  .welcome-div .welcome-p2 {
    width: 350px;
  }
}
.login-sec {
  margin-top: 70px;
  margin-bottom: 100px;
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.login-sec .login-div {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  gap: 10px;
}
.login-sec .login-div .login-left {
  text-align: center;
  padding-top: 43%;
}
.login-sec .login-div .login-left .login-h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
}
.login-sec .login-div .login-left .login-p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 25px;
}
.login-sec .login-div .login-left .login-p2 {
  color: #202020;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 30px;
  width: 400px;
}
.login-sec .login-div .login-left .btn-login {
  background-color: #fcb818;
  border-radius: 0;
  transition: 0.6s;
  font-size: 20px;
}
.login-sec .login-div .login-left .btn-login:hover {
  background-color: black;
  color: white;
}
.login-sec .login-div .login-right {
  background-color: #fcb818;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}
.login-sec .login-div .login-right .form-heading {
  text-align: center;
}
.login-sec .login-div .login-right .form-heading .form-tit {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 10px;
}
.login-sec .login-div .login-right .form-heading .form-tit2 {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 500;
}
.login-sec .login-div .login-right .form-control-1 {
  width: 100%;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #202020;
  background: transparent;
  color: #121212;
  font-size: 16px;
  padding: 0;
  line-height: 50px;
  height: auto;
  outline: none;
  margin-top: 25px;
}
.login-sec .login-div .login-right .form-control-2 {
  width: 100%;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #202020;
  background: transparent;
  color: #121212;
  font-size: 16px;
  padding: 0;
  line-height: 50px;
  height: auto;
  outline: none;
  margin-top: 30px;
}
.login-sec .login-div .login-right .submit-btn {
  background-color: black;
  color: white;
  margin-top: 50px;
  border-radius: 0;
  padding: 12px;
  margin-bottom: 50px;
}
.login-sec .login-div .login-right .submit-btn:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 780px) {
  .login-sec .login-div {
    flex-wrap: wrap;
  }
  .login-sec .login-div .login-left {
    padding: 0;
    margin-bottom: 70px;
  }
  .login-sec .login-div .login-left .login-p2 {
    width: 400px;
    padding: 0 15px;
  }
}
.login-sec .login-div .register-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
}
.login-sec .login-div .register-left .register-h2 {
  margin-bottom: 50px;
}

@media screen and (max-width: 1330px) {
  .login-sec .login-div .register-left {
    width: 400px;
    padding-top: 70%;
  }
}
@media screen and (max-width: 780px) {
  .login-sec .login-div {
    flex-wrap: wrap-reverse;
  }
  .login-sec .login-div .register-left {
    width: 100%;
    padding-top: 0;
  }
}
.icongagas {
  height: 300px;
  margin-left: 71px;
  margin-top: 100px;
}
.icongagas__icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fcb818;
}
@media screen and (max-width: 1200px) {
  .icongagas__icon {
    margin-left: -20px;
  }
}
@media screen and (max-width: 991px) {
  .icongagas__icon {
    margin-left: -50px;
  }
}
@media screen and (max-width: 767px) {
  .icongagas__icon {
    margin-left: 120px;
  }
}
@media screen and (max-width: 540px) {
  .icongagas__icon {
    margin-left: 120px;
  }
}
@media screen and (max-width: 450px) {
  .icongagas__icon {
    margin-left: 40px;
  }
}
@media screen and (max-width: 438px) {
  .icongagas__icon {
    margin-left: 40px;
  }
}
@media screen and (max-width: 420px) {
  .icongagas__icon {
    margin-left: 60px;
  }
}
@media screen and (max-width: 375px) {
  .icongagas__icon {
    margin-left: 30px;
  }
}
@media screen and (max-width: 320px) {
  .icongagas__icon {
    margin-left: 20px;
  }
}
.icongagas__icon span {
  color: white;
  font-size: 30px;
  margin-top: 43px;
  margin-left: 50px;
}
.icongagas__text {
  margin-top: 20px;
  margin-left: -50px;
}
.icongagas__text p {
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 1200px) {
  .icongagas__text p {
    width: 200px;
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  .icongagas__text p {
    margin-left: -20px;
    width: 180px;
  }
}
@media screen and (max-width: 767px) {
  .icongagas__text p {
    text-align: center;
    margin-top: 20px;
    width: 100%;
  }
}

.cont {
  height: 500px;
  background-color: white;
}

.form-control {
  height: 44px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  border-radius: 2px;
  box-shadow: none !important;
  border: none;
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.3) !important;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.3) !important;
}
.form-control:-ms-input-placeholder { /* IE 0+ */
  color: rgba(0, 0, 0, 0.3) !important;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: rgba(0, 0, 0, 0.3) !important;
}
textarea.form-control {
  height: inherit !important;
}

.wrapper {
  width: 100%;
}

.contact-wrap {
  background: #fcb818 !important;
}

.dbox {
  width: 100%;
  margin-bottom: 25px;
  padding: 0 20px;
}
.dbox p {
  margin-bottom: 0;
}
.dbox p span {
  font-weight: 500;
}
.dbox .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.dbox .icon span {
  font-size: 20px;
}
.dbox .text {
  width: 100%;
}

.btnmesagge {
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  background-color: black;
  margin-bottom: 50px;
  outline: none;
  border: none;
  margin-top: 60px;
}
.btnmesagge:hover, .btnmesagge:active, .btnmesagge:focus {
  outline: none !important;
}
.contactForm .label {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
}
.contactForm .form-control {
  border: none;
}

#map {
  width: 100%;
}

#contactForm .error {
  color: red;
  font-size: 12px;
}
#contactForm .form-control {
  font-size: 16px;
}

#message {
  resize: vertical;
}

#form-message-warning, #form-message-success {
  display: none;
}

#form-message-warning {
  color: red;
}

#form-message-success {
  font-size: 18px;
  font-weight: 500;
}

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-size: 16px;
  font-weight: 500;
}

.blogsingle {
  height: fit-content;
}
.blogsingle img {
  width: 100%;
  height: 16%;
  background-size: contain;
}
@media screen and (max-width: 320px) {
  .blogsingle img {
    height: 10%;
  }
}
@media screen and (max-width: 360px) {
  .blogsingle img {
    height: 10%;
  }
}
@media screen and (max-width: 420px) {
  .blogsingle img {
    height: 10%;
  }
}
@media screen and (max-width: 770px) {
  .blogsingle img {
    height: 10%;
  }
}
.blogsingle h2 {
  line-height: 1.5;
  color: black;
  font-weight: 600;
  width: 100%;
  font-size: 30px;
  margin-top: 20px;
}
.blogsingle .p {
  color: gray;
  font-size: 15px;
  width: 99%;
  line-height: 2;
}
.blogsingle .George {
  width: 100%;
  height: 200px;
  background-color: #f5f4f0 !important;
  display: flex;
  margin-top: 50px;
}
@media screen and (max-width: 1200px) {
  .blogsingle .George {
    height: 240px;
  }
}
@media screen and (max-width: 768px) {
  .blogsingle .George {
    height: 240px;
  }
}
@media screen and (max-width: 550px) {
  .blogsingle .George {
    height: 240px;
  }
}
@media screen and (max-width: 520px) {
  .blogsingle .George {
    height: 280px;
  }
}
@media screen and (max-width: 420px) {
  .blogsingle .George {
    height: 420px;
  }
}
@media screen and (max-width: 380px) {
  .blogsingle .George {
    height: 420px;
  }
}
@media screen and (max-width: 320px) {
  .blogsingle .George {
    height: 550px;
    font-size: 14px;
  }
}
.blogsingle .George .img {
  width: 150px;
  height: 150px;
  margin-top: 25px;
  margin-left: 30px;
}
.blogsingle .George .img img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 320px) {
  .blogsingle .George .img img {
    height: 100px;
    width: 100px;
    margin-top: 15px;
    margin-left: -20px;
  }
}
@media screen and (max-width: 360px) {
  .blogsingle .George .img img {
    height: 100px;
    width: 100px;
    margin-top: 0px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 420px) {
  .blogsingle .George .img img {
    height: 100px;
    width: 100px;
  }
}
.blogsingle .George .img1 {
  width: 500px;
  height: 150px;
  margin-top: 25px;
  margin-left: 30px;
}
.blogsingle .George .img1 h3 {
  font-weight: 400;
}
.blogsingle .George .img1 p {
  font-size: 17px;
  color: black;
  line-height: 1.5;
}

.comment-list {
  padding: 0;
  margin: 0;
}
.comment-list li {
  padding: 0;
  margin: 0 0 30px 0;
  float: left;
  width: 100%;
  clear: both;
  list-style: none;
}
.comment-list li .vcard {
  width: 80px;
  float: left;
}
.comment-list li .vcard img {
  width: 50px;
  border-radius: 50%;
}

.comment-body {
  float: right;
  width: calc(100% - 80px);
}
.comment-body h3 {
  font-weight: 500;
  font-size: 20px;
}
.comment-body .meta {
  font-size: 15px;
  color: #b7472a;
  padding-top: 15px;
}
.comment-body p {
  font-size: 16px;
  color: gray;
  line-height: 1.8;
  padding-top: 0px;
}
.comment-body .reply {
  padding: 5px 10px;
  background: #e6e6e6;
  color: #000000;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.1em;
  font-weight: 400;
  border-radius: 4px;
}
.comment-body .reply:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 768px) {
  .yeah123 {
    margin-top: 70px;
  }
}

@media screen and (max-width: 1199px) {
  .bbn {
    margin-top: 20px;
  }
}

.rigth input {
  border: 1px solid black;
  margin-top: 20px;
  width: 80%;
  margin-left: 20px;
  border-radius: 10px;
  padding-left: 20px;
  display: inline-block;
}
.rigth input .form-control {
  color: black;
}

.catagoriyes-drink h3 {
  margin-left: 40px;
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 600;
}
.catagoriyes-drink li {
  margin-top: 20px;
  margin-left: 40px;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dee2e6;
  list-style: none;
}
.catagoriyes-drink li a {
  display: block;
  color: #1a1a1a;
}
.catagoriyes-drink li a span {
  position: absolute;
  right: 0;
  top: 7px;
  color: #ccc;
}
.RecentBlog {
  margin-left: 40px;
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 600;
}

.catagoriyes-blog-image .catagoriyes-blog-image-img {
  width: 160px;
  border-radius: 4px;
  margin-left: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: auto;
}
.catagoriyes-blog-image .catagoriyes-blog-image-item p {
  font-size: 18px;
  width: 90%;
  margin-left: 20px;
  color: black;
  line-height: 1.6;
  font-weight: 400;
  cursor: pointer;
}
.meta1 {
  display: flex;
  padding-left: 150px;
}
.meta1 span {
  font-size: 15px;
  color: #b3b3b3;
}
.meta1 a {
  font-size: 15px;
  color: #b3b3b3;
}

.paraqraff {
  color: gray;
  margin-left: 40px;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
}

.products {
  margin: 100px 0;
}
.products .left-sidebar {
  padding: 54px 30px 49px;
  border: 1px solid #e1e1e1;
  margin-bottom: 50px;
}
.products .left-sidebar h4 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.products .left-sidebar input {
  border: 1px solid #fcb818;
  padding: 17px 0px 17px 20px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  background-size: 17px;
  background-position-y: center;
  outline: none;
  transition: 0.3s all linear;
}
.products .left-sidebar input:hover {
  border: 1px solid #fcb818;
  color: #fcb818;
}
.products .left-sidebar input:hover::placeholder {
  color: #fcb818;
}
.products .left-sidebar input:focus {
  border: 1px solid #007DF2;
  color: #007DF2;
}
.products .left-sidebar input:focus::placeholder {
  color: #007DF2;
}
.products .left-sidebar .search-product {
  position: relative;
}
.products .left-sidebar .search-product .search-product-icon {
  position: absolute;
  top: 8px;
  right: 4px;
  cursor: pointer;
}
.products .left-sidebar .categories {
  margin-top: 40px;
}
.products .left-sidebar .categories li {
  padding: 8px 0;
  color: #888;
  font-size: 14px;
  transition: 0.3s all linear;
  cursor: pointer;
}
.products .left-sidebar .categories li:hover {
  color: #fcb818;
}
.products .left-sidebar .top-rated-products {
  margin-top: 40px;
}
.products .left-sidebar .top-rated-products .single-product {
  margin-top: 20px;
}
.products .left-sidebar .top-rated-products .product-photo {
  max-width: 70px;
  margin-right: 15px;
}
.products .left-sidebar .top-rated-products .product-title {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s all linear;
}
.products .left-sidebar .top-rated-products .product-title:hover {
  color: #007DF2;
}
.products .left-sidebar .top-rated-products .stars {
  color: #ffb805;
  font-size: 12px;
  margin: 5px 0;
}
.products .left-sidebar .top-rated-products .product-price {
  color: #007DF2;
}
.products .left-sidebar .product-tags {
  margin-top: 40px;
}
.products .left-sidebar .product-tags .tags {
  line-height: 2;
  font-size: 14px;
}
.products .left-sidebar .product-tags .tags span {
  padding-right: 20px;
}
.products .products-side .col-lg-4 {
  padding: 0 25px;
}
.products .products-side .col-lg-4 .productt:hover .product-image {
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.231372549);
}
.products .products-side .col-lg-4 .productt:hover .basket-wishlist-compare {
  opacity: 1 !important;
}
.products .products-side .col-lg-4 .productt .product-image {
  border: 0.5px solid rgb(169, 169, 169);
  background-size: cover;
  background-position: center;
  height: 300px;
  transition: 0.3s all linear;
  position: relative;
}
.products .products-side .col-lg-4 .productt .product-image .basket-wishlist-compare {
  width: 100%;
  position: absolute;
  bottom: 30px;
  opacity: 0;
  transition: 0.3s all linear;
}
.products .products-side .col-lg-4 .productt .product-image .basket-wishlist-compare div,
.products .products-side .col-lg-4 .productt .product-image .basket-wishlist-compare .view-basket {
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: #FFF;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.231372549);
  color: #303030;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.3s all linear;
}
.products .products-side .col-lg-4 .productt .product-image .basket-wishlist-compare div:hover,
.products .products-side .col-lg-4 .productt .product-image .basket-wishlist-compare .view-basket:hover {
  background-color: #fcb818;
}
.products .products-side .col-lg-4 .productt .product-image .basket-wishlist-compare .view-basket {
  width: 90px;
  font-size: 13px;
  font-weight: 600;
  transition: none;
}
.products .products-side .col-lg-4 .productt .product-inf {
  text-align: center;
  margin-top: 20px;
}
.products .products-side .col-lg-4 .productt .product-inf h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.7;
  transition: 0.3s all linear;
  cursor: pointer;
}
.products .products-side .col-lg-4 .productt .product-inf h5:hover {
  color: #fcb818;
}
.products .products-side .col-lg-4 .productt .product-inf .stars {
  color: #ffb805;
  margin: 10px 0;
}
.products .products-side .col-lg-4 .productt .product-inf p {
  color: #42924B;
  font-size: 18px;
  font-weight: 600;
}

.productt-name {
  color: black;
  transition: 0.3s all linear;
}

.productt-name:hover {
  color: #fcb818;
}

.tags ul {
  padding: 0;
}
.tags ul a {
  line-height: 32px;
  display: inline-block;
  margin-right: 9px;
  border: 1px solid #b6b4b5;
  border-radius: 4px;
  padding: 0 12px;
  color: #202020;
  font-size: 14px;
  width: 54px;
  margin-bottom: 10px;
  text-decoration: none;
  transition: 0.6s all linear;
}
.tags ul a:hover {
  background-color: #fcb818;
}

@media screen and (max-width: 991px) {
  .img-full {
    display: none;
  }
}
.product-single {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.product-single .product-category {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.product-single .price {
  margin-top: 50px;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #121212;
}
.product-single .product-tit {
  margin-top: 50px;
  width: 500px;
  font-size: 36px;
  line-height: 38px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #202020;
}
.product-single .short-discription {
  width: 500px;
}
.product-single .cart-btn {
  padding: 0 20px;
  line-height: 42px;
  background: #231f20;
  border: 1px solid transparent;
  color: #fff;
  display: inherit;
  cursor: pointer;
  width: 200px;
  text-align: center;
  margin-top: 100px;
  transition: 0.6s all linear;
}
.product-single .cart-btn:hover {
  background-color: #fcb818;
  color: black;
}

@media screen and (max-width: 600px) {
  .product-pho {
    width: 350px;
  }
  element.style {
    margin-top: 47px;
  }
  .product-single .short-discription {
    width: 0;
  }
  .des {
    width: 350px;
  }
  .des .product-tit {
    width: 350px;
  }
  .des .pdi {
    width: 350px;
  }
}
.informat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.informat .table-bordered {
  width: 600px;
}

@media screen and (max-width: 626px) {
  .informat .table-bordered {
    width: 350px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.first-sec {
  padding-top: 200px;
}
