.icongagas{
    height: 300px;
    margin-left:71px;
    margin-top: 100px;
    &__icon{
        width: 120px;
        height: 120px;
        border-radius: 50%;

        background-color: #fcb818;

        @media screen and (max-width:1200px) {
            margin-left: -20px;
            
        }
       
        @media screen and (max-width:991px) {
            margin-left: -50px;
            
        }
        @media screen and (max-width:767px) {
            margin-left: 120px;
            
        }
      
        @media screen and (max-width:540px) {
            margin-left: 120px;
            
        }
     
        @media screen and (max-width:450px) {
            margin-left: 40px;
            
        }
        @media screen and (max-width:438px) {
            margin-left: 40px;
            
        }
        @media screen and (max-width:420px) {
            margin-left: 60px;
            
        }
        @media screen and (max-width:375px) {
            margin-left: 30px;
            
        }
        @media screen and (max-width:320px) {
            margin-left: 20px;
            
        }
        span{
            color: white;
            font-size: 30px;
            margin-top: 43px;
            margin-left: 50px;
        }
       
    }

    &__text{
		margin-top: 20px;
        margin-left: -50px;
        p{
            font-size: 16px;
            line-height: 1.5;
            @media screen and (max-width:1200px) {
                width: 200px;
                font-size: 14px;
            }
            @media screen and (max-width:991px) {
                margin-left: -20px;
                width: 180px; 
            }
            @media screen and (max-width:767px) {
                text-align: center;
                margin-top: 20px;
                width: 100%; 

                
            }
        }
    }
}

.cont{
    height: 500px;
    background-color: white;
}



.form-control {
	height: 44px;
	color: rgba(0,0,0,.8);
	font-size: 14px;
	border-radius: 2px;
	box-shadow: none !important;
	border: none;
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: rgba(0,0,0,.3) !important;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: rgba(0,0,0,.3) !important;
	}
	&:-ms-input-placeholder { /* IE 0+ */
	  color: rgba(0,0,0,.3) !important;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: rgba(0,0,0,.3) !important;
	}
	&:focus, &:active {
	}
}
textarea.form-control {
	height: inherit!important;
}


.wrapper{
	width: 100%;
}
.contact-wrap{
	background: #fcb818 !important;
}


.dbox{
	width: 100%;
	margin-bottom: 25px;
	padding: 0 20px;
	
	p{
		margin-bottom: 0;
		span{
			font-weight: 500;
		}
		a{
		}
	}
	.icon{
		width: 60px;
		height: 60px;
		border-radius: 50%;
		margin: 0 auto;
		margin-bottom: 20px;
		span{
			font-size: 20px;
		}
	}
	.text{
		width: 100%;
	}
}

.btnmesagge {
	padding: 12px 16px;

	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
	position: relative;
    text-decoration: none;
    background-color: black;
	margin-bottom: 50px;
    outline: none;
    border: none;

    margin-top: 60px;
	&:hover, &:active, &:focus {
		outline: none !important;
	}
	&.btn-primary {
		&:hover,&:focus{
		}
	}
}

.contactForm{
	.label{
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 400;
        margin-top: 20px;
	}
	.form-control{
		border: none;
	}
}

#map {
	// height: 400px;
	width: 100%;

}
// Forms style
#contactForm {
	.error {
		color: red;
		font-size: 12px;
	}
	.form-control {
		font-size: 16px;
	}
}
#message {
	resize: vertical;
}
#form-message-warning, #form-message-success {
	display: none;
}
#form-message-warning {
	color: red;
}
#form-message-success {
	font-size: 18px;
	font-weight: 500;
}
.submitting {
	float: left;
	width: 100%;
	padding: 10px 0;
	display: none;
	font-size: 16px;
	font-weight: 500;
}








