
.main{
 
    .tophead{
        background: #000000;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        padding: 10px 0;
        gap: 15%;

        font-size: 15px;
        transition: 0.6s;

        .wrappertophead{
            display: flex;
            gap: 15px;
            .mail {
                text-decoration: none;
              color: #fff;
            }
            .tel {
                text-decoration: none;
                color: #fff;
            }

            .mt{
                transition: color 1s;
            }

            .mt:hover{
                
                color:#fcb818;
            }
        }

        .sosial{
            .login{
                transition: color 0.5s;
            }

            .login:hover{
                color:#fcb818;
            }
            
            .sosials{
                color: #fff;
                text-decoration: none;
                font-size: 12px;
                margin-right: 10px;
            }
        }

       
    
    }
  
    .wrapper{
      
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        background: #f2f2f2;
        padding-bottom: 30px;
        
    
    }


    .nav{
        margin-top: 50px;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;

        .navul{
            display: flex;
            gap: 65px;
            list-style-type: none;
      

            .basket-nav{
                color: #000;
            }

            .navli{
                cursor: pointer;
                font-weight: 600;
                font-size: 20px;
                transition: color 0.5s;
                font-size: 20px;
                font-weight: 400;
                
                .nava{
                    text-decoration: none;
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 20px;
                    transition: color 0.5s;
                    font-size: 20px;
                    font-weight: 400;
                    color: #000;
                }
            }
            .basket{
                cursor: pointer;
                font-weight: 600;
                font-size: 20px;
                transition: color 0.5s;
                font-size: 20px;
            }

            .nava:hover{
                color: #fcb818;
            }
            
            .basket:hover{
                color: #fcb818;
            }
        }
    }
}


//slider

.slider{
    padding-left: 8%;
    padding-right: 8%;
    
    .slider-content{
        background-repeat: no-repeat;
        width: 100%;
        color: #f2f2f2;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        padding-top: 200px;

        .p-slider{
            
            font-size: 25px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        .p2-slider{
            
            font-size: 25px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        .h2-slider{
            font-size: 80px;
            line-height: 60px;
            margin-bottom: 26px;
            text-transform: capitalize;
        }

        .slide-btn{
            background-color: #fcb818;

            margin-bottom: 200px;
        }
    }

    .slick-prev{
  
    }

    .slick-next{
     
    }
}


//best-seller

.bs-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;

    .punchline{
        
    color: #686868;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    margin-top: 10px;

    }

    .sec-title{
        color: #202020;
        font-size: 42px;
        line-height: 42px;
        font-weight: 500;
        margin-bottom: 0;
        text-transform: capitalize;
    }
}





.bs-carts{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 2%;

    .card-title{
        color: #121212;
        font-size: 25px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 0;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .card-a{
        background: transparent;
        font-size: 22px;
        font-weight: 400;
        color: #151515;
        outline: none;
        text-decoration: none;
        vertical-align: baseline;
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
        transition: 0.6s;

    }

    .card-a:hover{
        color: #fcb818;
    }

    .currency{
        color: #121212;
        font-size: 20px;
        font-weight: 400;
    }

   

    .price{
        color: #121212;
        font-size: 30px;
        font-weight: 500;
        margin-right: 15px;
        margin-top: 20px;
    }

}

.card:hover{
    box-shadow: 3px 0 #fcb818;
    transition: 0.6s;
}

.addtocart{
    margin: 0 auto;
 
    
}




.card-img-top{
    margin-top: 15px;
}


//find-section


.find-section{
    background: #fcb818;
    margin-bottom: 110px;
    text-align: left;
    margin-top: -200px;
    padding-top: 250px;
}

.find{
    display: flex;
    justify-content: space-evenly;
    
    .find-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 50px;
        width: 500px;

        .explore{
            text-decoration: none;
            width: fit-content;
            padding: 12px;
        }

        .explore:hover{
            background-color: #f2f2f2;
            color: #000;
        }
        .find-h2{
            color: #121212;
            font-size: 50px;
            text-align: left;
            margin-bottom: 40px;
        }
    }
}


//popularcategory

.p-categoryrow{
    display: flex;
justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-left: 15%;
    padding-right: 15%;

    .p-category-div{
        
        border: 1px solid black;
        width: 400px;
        height: 400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .p-category-h2{
            margin-top: 50%;
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
             font-size: 30px;
            margin-bottom: 18px;
            line-height: 36px;
             letter-spacing: 2px;
        }

        .view-collect{
            border: 1px solid #fcb818;
            background-color: transparent;
        }
        
        .view-collect:hover{
            background-color: #fcb818;
        }
    }
}

//dealofday

.dealofday{
    margin-top: 100px;
    height: 500px;
    padding: 100px 0 70px;
    text-align: left;
    color: #fff;
    background-size: cover;

    .divday{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btnday{
        background-color: #fcb818;
        margin-top: 30px;
        padding: 5px;
    }
}

//lastnew

.last-new{
    margin-top: 100px;

    .lastnew-div{
        height: fit-content;
        border: none;
    }

    .info-last{
        padding: 30px 18px 0 18px;
        background: #fff;
        margin-top: -35px;
        width: calc(100% - 45px);
       margin-left: 45px;
    }
.post-date{
    color: #121212;
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 18px;
    margin-top: 15px;
}
.blog-tit{
    color: #121212;
    font-weight: 400;
    font-size: 24px;
    display: inline-block;
    text-decoration: none;
}

.blog-dis{
    line-height: 22px;
    margin-bottom: 30px;
}


.btn1{
    margin: 0;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 0;
    color: #151515;
    background: #fcb818;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    transition: 0.6s;
}

.btn1:hover{
    background-color: #000;
    color: white;
}
    
}

//helpline

.helplinesec{
    margin-top: 60px;
    margin-bottom: 0;
    background: #f6f6f6;
    padding: 36px 0;
    display: flex;
    justify-content: center;
    .helpline{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        

    }

  
    
    .helpline-div{
        display: flex;
        justify-content: space-between;
        gap: 5px;
        border-right: 1px solid #b5b5b5;;

        padding-right: 5%;


        .icon-last{
            font-size: 80px;
            color: #fcb818;
        }

        .icon-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: fit-content;
            margin-top: 20px;
            margin-left: 10px;
            margin-right: 15px;
        }

        .last-h3{
            margin-top: 10px;
            font-weight: 600;
            text-transform: uppercase;
            color: #121212;
            font-size: 18px;
        }


        .last-p{
    font-size: 14px;
    font-weight: 400;
    color: #202020;
        }
    }
    .sondiv{
        border: none;
    }
}


footer{
    background: #202020;
    color: #fff;

    .foot{
        padding-top: 70px;
    }

    .foot-a{
        background: transparent;
        color: #fff;
        outline: none;
        text-decoration: none;
        vertical-align: baseline;
        margin: 0;
        padding: 0;
    }

    .foot-icon{
        margin-right: 10px;
        color: #fcb818;
    }

    .ft-logo{
        margin-bottom: 15px;
    }

    .a2-foot{
        color: #b6b6b6;
        line-height: 1;
        background: transparent;
        outline: none;
        text-decoration: none;
        vertical-align: baseline;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }

    .a2-foot:hover{
        color: #fff;
        transition: 0.6s;
    }

    .mb-0{
        list-style: none;
        margin: 0;
    }

    .mb-0 li{
        margin-bottom: 15px;
    }

    .fotdu{
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 20px;
    }

    .widget-tit{
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 35px;
    }

    .cmn-detail{
        font-size: 14px;
    }


    .foot-row{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

.menu-wrap{
    display: none;
  }


  @media screen and (max-width: 755px) {

    .navdiv{
        display: none;
    }
    .sosial{
        display: none;
    }

    .menu-wrap{
        display: block;
        background-color: #f2f2f2;
    }
  }

  @media screen and (max-width: 1000px) {

    .slider-content{
        background-position: center;
    }
    .dealofday{
        background-position: center;
    }

    .foot{
        .foot-row{
            flex-direction: column;
            align-items: center;
        }
    }

  }

  @media screen and (max-width: 570px) {

    .slider{
        .slider-content{
            .h2-slider{
                font-size: 50px;
            }

            .p2-slider{
                font-size: 20px;
            }
        }
    }  

    .countdown-timer-container div{
        font-size: 20px;
    }
  }


  @media screen and (max-width: 1270px) {
    .bs-carts{
        flex-wrap: wrap;
        gap: 30px;
       
    }
    .find-section{
        margin-top: 0;
        padding-top: 0;
    }
    .best{
        height: fit-content;
        padding-bottom: 70px;
        margin-bottom: 100px;
    }
   
  }

  @media screen and (max-width: 1183px) {
    .p-categoryrow{
        .cat-div{
            width: 600px;
            height: fit-content;
            padding-bottom: 25%;
            
            .p-category-h2{
                margin-top: 25%;
            }
        }

    } 
   
  }


  @media screen and (max-width: 1295px) {

    .helplinesec{
        .helpline-div {

            flex-direction: column;
            align-items: center;
            gap: 0;
      

            .icon-last{
                font-size: 40px;
            }

            .icon-text{
                margin: 0;
            }
        }
    }
  }

  @media screen and (max-width: 747px) {

    .helplinesec{
        .helpline-div {

            border: none;
           
        }
    }
  }
  

  
  @media screen and (max-width: 1100px) {
    
    .foot-row{
        flex-direction: column;
        align-items: center;
    }
footer{
    .fotdu{
        margin-top: 25px;
        width: 100%;
    }
    }
    
 }

 .tural{
    color: black;
 }

  
 @media screen and (max-width: 1570px) {
    .find-section{
        margin-top: 0px;
        padding-top: 0px;
    }
  
}

@media screen and (max-width: 1190px) {
 
  .foto-find{
    width: 500px;
  }
}

@media screen and (max-width: 570px) {
 
    .foto-find{
      width: 300px;
    }
  }
  

@media screen and (max-width: 864px) {
 
    .find{
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .find-div{
            align-items: center;
            width: 100%;
            

            .find-h2{
                text-align: center;
            }
        } 
    }
  }

.best-seller-card{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 5%;
}


ol,ul{
    padding-left: 0;
    padding-right: 0;
}