.login-sec{
    margin-top: 70px;
    margin-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .login-div{
        display: flex;
        width: 70%;
        justify-content: space-evenly;
        gap: 10px;

        .login-left{
            text-align: center;
            padding-top: 43%;
            .login-h2{
                font-weight: 600;
                font-size: 36px;
                line-height: 36px
            }
            .login-p{
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 25px;
            }

            .login-p2{
                color: #202020;
                 font-size: 17px;
              line-height: 18px;
                margin-bottom: 30px;
                width: 400px;
            }

            .btn-login{
                background-color: #fcb818;
                border-radius: 0;
                transition: 0.6s;
                font-size: 20px;
            }

            .btn-login:hover{
                background-color: black;
                color: white;
            }
        }

        .login-right{
            background-color: #fcb818;
            padding-top:100px;
            padding-left: 50px;
            padding-right: 50px;
            .form-heading{
                text-align: center;
                .form-tit{
                    font-weight: 600;
                    font-size: 36px;
                     line-height: 44px;
                    margin-bottom: 10px;
                }

                .form-tit2{
                    margin-top: 25px;
                    font-size: 20px;
                    font-weight: 500;

                }
            }

            .form-control-1{
                width: 100%;
                border-width: 0 0 2px 0;
                border-style: solid;
                border-color: #202020;
                background: transparent;
                color: #121212;
                font-size: 16px;
                padding: 0;
                line-height: 50px;
                height: auto;
                outline: none;
                margin-top: 25px;
            }

            .form-control-2{
                width: 100%;
                border-width: 0 0 2px 0;
                border-style: solid;
                border-color: #202020;
                background: transparent;
                color: #121212;
                font-size: 16px;
                padding: 0;
                line-height: 50px;
                height: auto;
                outline: none;
                margin-top: 30px;
            }

  

            .submit-btn{
                background-color: black;
                color: white;
                margin-top: 50px;
                border-radius: 0;
                padding: 12px;
                margin-bottom: 50px;
            }

            .submit-btn:hover{
                background-color: white;
                color: black;
            }
        }
    }
}


@media screen and (max-width: 780px) {
    .login-sec{
        .login-div{
            flex-wrap: wrap;
    
            .login-left{
                padding: 0;
                margin-bottom: 70px;
                
                .login-p2{
                    width: 400px;
                    padding: 0 15px;
                }
            }
        }
    }
  
  }


