.product-single{

    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    .product-category{
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .price{
        margin-top: 50px;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 30px;
        color: #121212;
    }

.product-tit{
    margin-top: 50px;
    width: 500px;
    font-size: 36px;
    line-height: 38px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #202020;
}

    .short-discription{
        width: 500px;
    }


    .cart-btn{
        padding: 0 20px;
        line-height: 42px;
        background: #231f20;
        border: 1px solid transparent;
        color: #fff;
        display: inherit;
        cursor: pointer;
        width: 200px;
        text-align: center;
        margin-top: 100px;
        transition: 0.6s all linear;
    }

    .cart-btn:hover{
        background-color: #fcb818;
        color: black;
    }
}

@media screen and (max-width:600px) {
    .product-pho{
        width: 350px;
    }


  
element.style {
    margin-top: 47px;
}
.product-single {
    .short-discription{
        width: 0;
    }
}


    .des{
        width: 350px;


        .product-tit{

            width: 350px;
        }
        .pdi{
            width: 350px;
        }
    }
  
  
}


.informat{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .table-bordered{
        width: 600px;
    }
}


@media screen and (max-width:626px) {

    .informat{

 
    .table-bordered{
        width: 350px;
    }
}
}